body {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%; 
}

.completed {
  color: gray;
  background-color: rgb(197, 238, 224);
  text-decoration: line-through;
}

.btncontainer {
  display: flex;
  justify-content: space-between;
}